{% extends "default.mjml.njk" %}

{% block css %}
{% include "./Sample/index.css" %}
{% endblock %}

{% block header %}
<mj-text>Sample</mj-text>
<mj-text>{{ Generic.render() }}</mj-text>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

